.avatar{
  border-radius: 50%;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #658ef6;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, rgb(101, 142, 246), rgb(127, 1, 245));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, rgba(101, 142, 246, 1), rgba(127, 1, 245, 1))
}

#formFileSm{
  margin-bottom: 2%;
}